.botao {
  border: none;
  background-color: #8270fa;
  border-radius: 8px;
  border-right: solid 32px #62c6f2;
  padding: 24px;
  width: 150%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.titulo {
  color: white;
  align-items: left;
  display: flex;
  font-weight: 700;
}

.notificacao {
  color: #dddddd;
  display: flex;
  font-size: 20px;
}
